# FOR LOCAL DEVELOPMENT

# Google AI Studio / Gemini Setup
#GEMINI_API_KEY=your_gemini_api_key_here
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT="project-name"
GOOGLE_CLOUD_LOCATION="eu"
GOOGLE_CLOUD_AGENT_ENGINE_ID="id_returned_by_script"


# Asana Setup
ASANA_PERSONAL_ACCESS_TOKEN=your_asana_token_here
ASANA_PROJECT_GID=your_target_project_id_here

ASANA_FIELD_CREATOR=custom_field_gid_here

# Slack Setup
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token-here
SLACK_SIGNING_SECRET=your_slack_signing_secret_here